<div class="card mb-3 border-0">
    <div class="card-body py-3 px-0">
        <div class="d-flex align-items-center">
            <div class="flex-fill px-3">
                <img src="{{ url('public/img/items/'~item['id']~'.png') }}">
            </div>
            <div class="flex-fill w-100">
                <h6 class="mb-0">{{ item['name'] }}</h6>
                <small class="text-muted">{{ item['examine'] }}</small>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 border-0">
    <div class="list-group">
        <div class="list-group-item p-2">
            Release Date: {{ item['release_date'] }}
        </div>
        <div class="list-group-item p-2">
            Members: <i class="fal fa-fw fa-{{ item['members'] == 1 ? "check text-success" : "times text-danger" }}"></i>
        </div>
        <div class="list-group-item p-2">
            Tradeable: <i class="fal fa-fw fa-{{ item['tradeable'] == 1 ? "check text-success" : "times text-danger" }}"></i>
        </div>
        <div class="list-group-item p-2">
            Value: <i class="fal fa-coins fa-fw"></i> {{ item['cost']|number_format }}
        </div>
    </div>
</div>

{% if item['equipment'] %}

{% set badge = theme == "dark" ? "badge-white" : "badge-dark" %}
<div class="card mb-3 border-0">
    <div class="card-header py-2 pl-2 bg-transparent text-{{ theme == "dark" ? "white" : "dark" }}">
        Main Bonuses
    </div>
    <div class="d-flex text-center py-2">
        <div class="flex-fill px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/stab.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-sword"/> {{ item['equipment']['attack_stab'] }}
                </span>
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-shield-alt"/> {{ item['equipment']['defence_stab'] }}
                </span>
            </p>
        </div>
        <div class="flex-fill border-left px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/slash.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-sword"/> {{ item['equipment']['attack_slash'] }}
                </span>
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-shield-alt"/> {{ item['equipment']['defence_slash'] }}
                </span>
            </p>
        </div>
        <div class="flex-fill border-left px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/crush.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-sword"/> {{ item['equipment']['attack_crush'] }}
                </span>
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-shield-alt"/> {{ item['equipment']['defence_crush'] }}
                </span>
            </p>
        </div>
        <div class="flex-fill border-left  px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/magic.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-sword"/> {{ item['equipment']['attack_magic'] }}
                </span>
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-shield-alt"/> {{ item['equipment']['defence_magic'] }}
                </span>
            </p>
        </div>
        <div class="flex-fill border-left px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/ranged.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-sword"/> {{ item['equipment']['attack_ranged'] }}
                </span>
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-shield-alt"/> {{ item['equipment']['defence_ranged'] }}
                </span>
            </p>
        </div>
    </div>
</div>

<div class="card border-0 mb-3">
    <div class="card-header py-2 pl-2 bg-transparent text-{{ theme == "dark" ? "white" : "dark" }}">
        Other Bonuses
    </div>
    <div class="d-flex text-center py-2">
        <div class="flex-fill px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/melee_strength.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    {% set stat = item['equipment']['melee_strength'] %}
                    <i class="fas fa-sword"/>
                    <span class="text-{{ stat > 0 ? "success" : "danger" }}">
                        {% if stat > 0 %}
                            +
                        {% elseif stat < 0 %}
                        -
                        {% endif %}

                        {{ stat }}
                    </span>
                </span>
            </p>
        </div>
        <div class="flex-fill border-left px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/ranged_strength.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-sword"/> {{ item['equipment']['ranged_strength'] }}
                </span>
            </p>
        </div>
        <div class="flex-fill border-left px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/magic_damage.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-sword"/> {{ item['equipment']['magic_damage'] }}
                </span>
            </p>
        </div>
        <div class="flex-fill border-left  px-2">
            <p class="mb-2"><img src="{{ url('public/img/item_icons/prayer.png') }}"></p>
            <p class="mb-0">
                <span class="badge bg-transparent {{ badge }} w-100">
                    <i class="fas fa-sword"/> {{ item['equipment']['prayer'] }}
                </span>
            </p>
        </div>
    </div>
</div>
{% endif %}

<a href="{{ item['wiki_url'] }}" target="_blank" class="btn btn-block btn-default">View on Wiki</a>
