<script defer src="https://friconix.com/cdn/friconix.js"> </script>
<div class="card border-0 shadow-sm mb-3">
    <table class="table mb-0">
        <thead>
        <tr>
            <th class="text-center" style="width:80px">Id</th>
            <th class="text-center" style="width:75px;"></th>
            <th class="text-center" style="width:70px;"></th>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        {% for item in results['items'] %}
        <tr>
            <td class="text-center">{{ item['id'] }}</td>
            <td class="text-center">
                <img src="{{ url('public/img/items/'~item['id']~'.png') }}" height="32">
            </td>
            <td class="text-center">
                {% if item['members'] %}
                <img src="{{ url('public/img/members.png') }}" data-toggle="tooltip" data-title="Members">
                {% endif %}
            </td>
            <td style="line-height:1em;">
                <a href="" id="item-tooltip"
                    data-toggle="popover"
                    data-trigger="focus"
                    data-placement="right"
                    data-html="true"
                    data-content='{% include 'tools/item_tooltip.twig' %}'>
                    {{ item['name'] }}
                </a>

                <br>

                <small class="text-muted">
                    {{ item['examine'] ? item['examine'] : 'This item has no examine.' }}
                </small>
            </td>
            <td>
            {{ item['cost']|number_format }} GP
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="m-auto text-center">
    <a href="#" class="btn btn-link" id="pageBtn" data-page="{{ results['first'] }}">
       <i class="fi-cnllxl-caret-solid"></i>
    </a>

    <a href="#" class="btn btn-link" id="pageBtn" data-page="{{ results['before'] }}">
        <i class="far fa-angle-left fa-fw"></i>
    </a>

    Page {{ results['current'] }} of {{ results['total_pages'] }}

    <a href="#" class="btn btn-link ml-2" id="pageBtn" data-page="{{ results['next'] }}">
        <i class="far fa-angle-right fa-fw"></i>
    </a>

    <a href="#" class="btn btn-link" id="pageBtn" data-page="{{ results['last'] }}">
        <i class="far fa-angle-double-right fa-fw"></i>
    </a>

</div>

<script>
    $('[data-toggle="popover"]').popover();
    $('[id="item-tooltip"]').on('click', function(e) {
        e.preventDefault();
    });
    $('[id="pageBtn"]').on('click', function(e) {
        e.preventDefault();
    });
</script>
