{% block admin_sidebar %}

{% set icon_class = "text-default" %}

<nav class="navbar navbar-main navbar-vertical fixed-left navbar-expand-md navbar-{{ theme }}" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#sidenav-collapse-main" aria-controls="sidenav-main" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-brand text-default d-none d-md-block">
            <p>Server Dashboard</p>
        </div>
        <!-- Brand -->
        
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                Server Dashboard
            </li>
        </ul>
        
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="{{ url('dashboard') }}">
                            Dashboard
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% set active = controller == "dashboard" ? "active" : "" %}
                    <a class="nav-link {{ active }}" href="{{ url('dashboard') }}">

                        <div class="d-flex align-items-center">
                            <div class="flex-fill pr-2 {{ icon_class }}">
                                {{ icon('bar-chart', 16, 16) }}
                            </div>
                            <div class="text-default flex-fill w-100">
                                Home
                            </div>
                        </div>
                    </a>
                </li>
                
                <li class="nav-item">
                    {% set active = controller == "index" ? "active" : "" %}
                    <a class="nav-link {{ active }}" href="{{ url('dashboard') }}">

                        <div class="d-flex align-items-center">
                            <div class="flex-fill pr-2 {{ icon_class }}">
                                {{ icon('shop', 16, 16) }}
                            </div>
                            <div class="text-muted flex-fill w-100">
                                Payments
                            </div>
                        </div>
                    </a>
                </li>
                
            
            </ul>

        </div>
    </div>
</nav>

{% endblock %}