<div class="row d-none d-lg-block">
     <div class="col-sm-12">
         <div class="card border-0 shadow-sm mb-3">
             <div class="card-body" style="line-height:.8em;">
                 <div class="d-flex align-items-center">
                     <div class="flex-fill pr-3">
                         <img src="{{ avatar(user.user_id, user.avatar) }}"
                         class="rounded-circle mr-3"
                         height="60">
                     </div>
                     <div class="flex-fill w-100">
                         <small class="text-muted">Profile</small>
                         <h5 class="mb-0">
                             {{ user.username }} #{{ user.discriminator }}
                         </h5>
                     </div>
                     <div class="flex-fill w-100 text-right">
                         <a href="{{ url('servers/add') }}" class="btn btn-default btn-lg">
                             Add Server
                         </a>
                         <a href="{{ url('ads') }}" class="btn btn-success pulse-sponsor btn-lg">Go Premium</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div> 
