<div class="card border-0 shadow-sm overflow-hidden mb-3" style="position:relative;">
    <div class="card-header bg-transparent">
        <div class="d-flex align-items-center">
            <!-- Server Title -->
            <div class="flex-fill">
                <a class="text-default" href="{{ url('details/'~server.id) }}">
                    #{{ server.id }} {{ server.title }}
                </a>
            </div>
            <!-- Action Icons -->
            <div class="flex-fill text-right">
                <a href="{{ url('vote/'~server.id~'/'~server.title|replace({' ': '-'}) ) }}" class="btn btn-success btn-md" title="Share Vote link">
                    {{ icon('share') }} Share
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <!-- Server Details -->
        <div id="details" class="text-center">
            <div class="d-flex">
                <div class="flex-fill">
                        <a href="{{ url('details/' ~ server_url) }}" class="d-block mt-1" style="max-width:468px;">
                            <img
                                src="{{ server.banner_url ? banner(server.banner_url) : url('public/img/banner-loading.png') }}"
                                alt="PlayZanaris - Jagex Community Servers - {{ server.title }} | RSPS List"
                                class="rounded w-100" width="468" height="60"
                            />
                        </a>
                </div>
            </div>
        </div>

        <!-- Server Statistics -->
        <div id="statistics" class="text-center d-none">
            <div class="d-flex">
                {% for period, label in {'votes': 'Current', '60days': '60 Days', '30days': '30 Days', '7days': '7 Days', '1day': '1 Day'} %}
                <div class="flex-fill">
                    <p class="mb-0 text-default">{{ voteData[server.id][period]|number_format }}</p>
                    <p class="small text-muted mb-0">{{ label }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
