{% extends 'admin_layout.twig' %}
{% block content %}
{% include 'admin/sidebar.twig' %}

<div class="main-content" id="panel">
    {% include "admin/header.twig" %}

    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <div class="header-body">
                <!-- Card stats -->
                <div class="row">
                    <div class="col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4 mb-xl-0 shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Members</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ data['users']['total']|number_format }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                            <i class="fi-xnsuxl-user-solid"></i>
                                        </div>
                                    </div>
                                </div>

                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success">
                                        +{{ data['users']['month']|number_format }}
                                    </span>
                                    <span class="text-nowrap">members this month</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Total Earned</h5>
                                        <span class="h2 font-weight-bold mb-0">${{ data['payments']['total']|number_format(2) }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                            <i class="fi-xnsuxl-dollar-solid"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success">
                                        +${{ data['payments']['month']|number_format(2) }}
                                    </span>
                                    <span class="text-nowrap">earned this month</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 col-xl-4">
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="card-title text-uppercase text-muted mb-0">Servers Added</h5>
                                        <span class="h2 font-weight-bold mb-0">{{ data['servers']['total']|number_format }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                                            <i class="fi-xnsuxl-gamepad-solid"></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-0 text-sm">
                                    <span class="text-success">
                                        +{{ data['servers']['month']|number_format }}
                                    </span>
                                    <span class="text-nowrap">servers this month</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-lg-4 col-xl-4">
                    <div class="card mb-4 mb-xl-0 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Members</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ data['users']['total']|number_format }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fi-xnsuxl-user-solid"></i>
                                    </div>
                                </div>
                            </div>

                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success">
                                    +{{ data['users']['month']|number_format }}
                                </span>
                                <span class="text-nowrap">members this month</span>
                            </p>
                        </div>
                    </div>
                </div>




        </div>
    </div>



{% include 'chart_config.twig' %}

<script>
$(document).ready(function() {
    options.scales.xAxes = [{
        barPercentage: 0,
        ticks: { display: true },
        gridLines: {
            color: "rgba(0, 0, 0, 0)",
            drawBorder: false,
        }
    }];
    options.scales.yAxes = [{
        ticks: { display: true },
        gridLines: {  drawBorder: true }
    }];
    let element = document.getElementById("chart-orders");
    let context = element.getContext("2d");
    let chart = new Chart(context, {
        type: 'line',
        data: {
            labels: {{ chart_keys|json_encode|raw }},
            datasets: [
                {
                    label: 'Earned',
                    data: {{ chart_values|json_encode|raw }},
                    borderColor: window.chartColors.purple,
                    backgroundColor:  window.chartColors.purpleLight,
                    hoverBackgroundColor: window.chartColors.purpleLight,
                    barWidth: 2,
                }
            ]
        },
        options: options
    });
});
</script>
{% endblock %}
