{% extends 'admin_layout.twig' %}
{% block content %}
<div class="container-fluid bg-default pb-7 pt-4">
    <div class="row">

    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12">
            <div class="card border-0 mb-5">

                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col w-100">
                            <div class="float-left mt-1 mr-3 text-default">
                                {{ icon('bar-chart-fill', 32, 32) }}
                            </div>
                            <h2 class="mb-0">Server Reports</h2>
                            <h6 class="text-uppercase text-muted ls-1 mb-0"></h6>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                              <th scope="col">Report ID</th>
                              <th scope="col">Report User</th>
                              <th scope="col">Reason</th>
                              <th scope="col">Options</th>
                            </tr>
                          </thead>
                        {% for report in reports.items() %}
                        <tr>
                            <td>{{ report.id }}</td>
                            <td>
                                <a href="{{ url('details/'~report.server_id) }}" 
                                    target="_blank">
                                    {{ report.title }}
                                </a>
                            </td>
                            <td>{{ report.reason }}</td>
                            <td class="text-right">
                                <a href="{{ url('admin/reports/view/'~report.id) }}" 
                                    class="btn btn-default btn-sm">
                                    View
                                </a>
                                <a href="{{ url('admin/reports?delete='~report.id) }}" 
                                    class="btn btn-link btn-sm">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>Nothing to see here.</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            {{ content|raw}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-6">

        </div>
        <div class="col-sm-12 col-lg-6">
            
        </div>
    </div>
</div>

{% include 'chart_config.twig' %}


{% endblock %}