{% extends 'admin_layout.twig' %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-12">
            <div class="card border-0 mb-3 overflow-hidden">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-0">Report</h6>
                            <h2 class="mb-0">
                                {{ report.title }}
                            </h2>
                        </div>
                        <div class="col text-right">
                            <a href="{{ url('details/'~report.server_id) }}" 
                                class="btn btn-default"
                                target="_blank">View Server</a>
                        </div>
                    </div>
                </div>

                {% if error is defined %}
                <div class="alert alert-danger rounded-0 mb-0">{{ error|raw }}</div>
                {% elseif success is defined %}
                <div class="alert alert-success rounded-0 mb-0">{{ success }}</div>
                {% endif %}
                
                <div class="card-body">
                    <p>Reason: {{ report.reason }}</p>
                    {{ report.body|raw }}
                </div>

                <div class="card-footer">
                    <a href="{{ url('admin/reports?delete='~report.id) }}" 
                        class="btn btn-default">
                        Delete Report
                    </a>
                    <a href="{{ url('admin/reports?delete='~report.id) }}" 
                        class="btn btn-link">
                        Cancel
                    </a>
                </div>
            </div>


            {{ content|raw}}
            
        </div>
    </div>
</div>
{% endblock %}