<div class="sticky-top card border-0 shadow-sm mb-4">
     <div class="list-group">
         <a href="{{ url('commands') }}" class="list-group-item {{ action == "index" ? "active" : "" }}">

             <div class="float-left mr-2" style="margin-top:-1px;">
                 {{ icon('file-arrow-down', 18, 18) }}
             </div>

             All
         </a>
        <a href="{{ url('commands/owner') }}" class="list-group-item {{ action == "owner" ? "active" : "" }}">
             <div class="float-left mr-2" style="margin-top:-1px;">
                 {{ icon('file-arrow-down', 18, 18) }}
             </div>
             Owner
         </a>

         <a href="{{ url('commands/admin') }}" class="list-group-item {{ action == "admin" ? "active" : "" }}">
            <div class="float-left mr-2" style="margin-top:-1px;">
                {{ icon('file-arrow-down', 18, 18) }}
            </div>
            Admin
        </a>

        <a href="{{ url('commands/moderator') }}" class="list-group-item {{ action == "moderator" ? "active" : "" }}">
            <div class="float-left mr-2" style="margin-top:-1px;">
                {{ icon('file-arrow-down', 18, 18) }}
            </div>
            Moderator
        </a>

        <a href="{{ url('commands/donator') }}" class="list-group-item {{ action == "donator" ? "active" : "" }}">
            <div class="float-left mr-2" style="margin-top:-1px;">
                {{ icon('file-arrow-down', 18, 18) }}
            </div>
            Donator
        </a>

        <a href="{{ url('commands/player') }}" class="list-group-item {{ action == "player" ? "active" : "" }}">
            <div class="float-left mr-2" style="margin-top:-1px;">
                {{ icon('file-arrow-down', 18, 18) }}
            </div>
            Player
        </a>

     </div>
 </div> 
