<div class="card border-0 shadow-sm mb-4">
     <div class="list-group">
         <a href="{{ url('commands') }}" class="list-group-item {{ action == "index" ? "active" : "" }}">

             <div class="float-left mr-2" style="margin-top:-1px;">
                 {{ icon('file-arrow-down', 18, 18) }}
             </div>

             All
         </a>
        <a href="" class="list-group-item {{ action == "rsps" ? "active" : "" }}">
             <div class="float-left mr-2" style="margin-top:-1px;">
                 {{ icon('file-arrow-down', 18, 18) }}
             </div>
             Owner
         </a>

         <a href="" class="list-group-item {{ action == "web" ? "active" : "" }}">
            <div class="float-left mr-2" style="margin-top:-1px;">
                {{ icon('file-arrow-down', 18, 18) }}
            </div>
            Administrator
        </a>

        <a href="" class="list-group-item {{ action == "web" ? "active" : "" }}">
            <div class="float-left mr-2" style="margin-top:-1px;">
                {{ icon('file-arrow-down', 18, 18) }}
            </div>
            Moderator
        </a>

        <a href="" class="list-group-item {{ action == "web" ? "active" : "" }}">
            <div class="float-left mr-2" style="margin-top:-1px;">
                {{ icon('file-arrow-down', 18, 18) }}
            </div>
            Donator
        </a>

        <a href="" class="list-group-item {{ action == "web" ? "active" : "" }}">
            <div class="float-left mr-2" style="margin-top:-1px;">
                {{ icon('file-arrow-down', 18, 18) }}
            </div>
            Player
        </a>

     </div>
 </div> 
