{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    <div class="row">
        <div class="col-sm-12">

            <div class="card border-0 shadow-sm mb-3">
                <div class="card-body">
                    <div class="row align-items-center flex-sm-column flex-lg-row">
                        <div class="col mb-sm-3 mb-lg-0">
                            <h4 class="mb-0">
                                {{ server.title }}
                            </h4>
                            <span class="">Revision: {{ server.revision }}</span>
                        </div>
                        <div class="col text-lg-right">
                            {% if server.banner_url %}
                        <a href="{{ url('details/'~server_url) }}" class="banner-img">
                            <img data-src="{{ banner(server.banner_url) }}"
                                src="{{ url('public/img/banner-loading.png') }}"
                                id="banner"
                                alt="{{ server.banner_url }}"
                                style="margin-top:14px;"
                                class="img-fluid rounded lazy">
                        </a>
                        {% else %}
                        <a href="{{ url('details/'~server_url) }}" class="banner-img">
                            <img src="{{ url('public/img/banner-'~theme~'.png') }}"
                                id="banner"
                                alt="{{ url('public/img/banner-'~theme~'.png') }}"
                                style="margin-top:14px;"
                                class="img-fluid rounded lazy">
                        </a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="sticky-top" style="top:18px;">

                        <div class="d-flex ">
                            <div class="flex-fill pr-1">
                                <a href="{{ server.website }}"
                                    class="btn btn-default btn-block mb-3 {{ server.website ? '' : 'disabled' }}" target="_blank">
                                    {{ icon('link-45deg', 20, 20) }}
                                    Website
                                </a>
                            </div>
                            <div class="flex-fill pr-1">
                                <a href="{{ server.discord_link }}"
                                    rel="nofollow"
                                    class="btn btn-default btn-block mb-3 {{ server.discord_link ? '' : 'disabled' }}" target="_blank">
                                    {{ icon('discord', 20, 20) }} Discord
                                </a>
                            </div>
                            <div class="flex-fill">
                                <a href="{{ url('report/'~seo_link) }}"
                                    rel="nofollow"
                                    class="btn btn-danger btn-block mb-3" target="_blank">
                                    {{ icon('flag', 20, 20) }}
                                     Report
                                </a>
                            </div>
                        </div>
                        <div class="text-center mb-2 a2a_kit a2a_kit_size_32 a2a_default_style">
                            <a class="a2a_dd" href="Https://runead.com/"></a>
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_reddit"></a>
                            <a class="a2a_button_digg"></a>
                            <a class="a2a_button_blogger"></a>
                            <a class="a2a_button_copy_link"></a>
                            </div>

                        <div class="card shadow-sm border-0 mb-3">
                            <div class="card-body">
                                <small class="text-muted">Server Status</small>
                                <h6 class="mb-0 text-{{ server.is_online ? 'success' : 'danger' }}">
                                    {{ server.is_online ? 'Online' : 'Offline' }}
                                </h6>
                            </div>
                        </div>

                        <div class="card shadow-sm border-0 mb-3">
                            <div class="card-body">
                                <small class="text-muted">
                                    Owner
                                </small>
                                <h6 class="mb-0">
                                    <a href="https://discord.com/users/{{ server.user_id }}" target="_blank">{{ server.username }}#{{ server.discriminator }}</a>
                                </h6>
                            </div>
                        </div>

                        <div class="card shadow-sm border-0 mb-3">
                            <div class="card-body">
                                <small class="text-muted">Votes</small>
                                <h6 class="mb-0">
                                    {{ server.votes }}
                                </h6>
                            </div>
                        </div>

                        <div class="card shadow-sm border-0 mb-3">
                            <div class="card-body">
                                <small class="text-muted">Created</small>
                                <h6 class="mb-0">
                                    {{ server.date_created|date("M d Y") }}
                                </h6>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12 col-lg-8">
                    {% if is_mobile == false %}
                    <div class="alert alert-default border-info shadow-sm d-none d-lg-block">
                        <a href="#" id="vote"
                            data-id="{{ server.id }}" rel="nofollow"
                            class="btn btn-outline-white mt-2 float-right vote-btn">
                            Vote Now
                        </a>
                        <h5 class="mb-0 text-white">Like this server?</h5>
                        <p class="mb-0">Consider giving it a vote to show your support!</p>


                    </div>
                    {% endif %}

                    <div class="text-center card border-0 shadow-sm mb-3">
                        <div class="card-body">
                            {{ description|raw }}
                        </div>
                    </div>
                </div>
            </div>

            {{ content|raw }}
        </div>
    </div>
</div>

{% include 'chart_config.twig' %}


{% set recaptcha_key = constant('recaptcha')['public'] %}

<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_key }}" defer></script>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    let locked = false;
    $('.vote-btn').click(function(event) {
        event.preventDefault();
        locked = true;

        let btn = $(this);
        let txt = $(this).text();
        let id  = $(this).data("id");

        btn.html('{{ icon("three-dots", 16, 16) }}');
        btn.addClass("disabled");
        btn.removeClass("btn-success btn-danger").addClass("btn-primary");
        grecaptcha.ready(function() {
            grecaptcha.execute("{{ recaptcha_key }}", {
                action: 'homepage'
            }).then(function(token) {
                $.ajaxq('VoteQueue', {
                    url: '{{ url("servers/addvote") }}',
                    data: {
                        server_id: id,
                        token: token
                    },
                    type: 'POST',
                    complete: function (data) {

                    },
                    success: function (json) {
                        if (json.success) {
                            let votes = json.votes;
                            let votecnt = btn.closest("td").find("#votes");
                            votecnt.html(votes);
                        }

                        btn.removeClass("btn-primary btn-danger btn-success")
                            .addClass("btn-"+(json.success ? 'success' : 'danger'));

                            btn.html(json.success
                                  ? '{{ icon("check", 16, 16) }}'
                                  : '{{ icon("x", 16, 16) }}');

                        setTimeout(function() {
                            btn.removeClass("btn-primary btn-danger disabled")
                                .addClass("btn-primary");
                            btn.html('{{ icon("check2-square", 16, 16) }}');
                            locked = false;
                        }, 1000);
                    },
                    error: function(data) {
                        locked = false;
                        console.log(data.responseText);
                    }
                });
            });
        });
    });
});
</script>

{%  endblock %}
