<div class="card border-0 shadow-sm overflow-hidden mb-3">
    <div class="card-header bg-primary text-white py-3">
        <h5 class="mb-0 text-white">Sponsored Servers</h5>
        <p class="text-white-50 mb-0 small">
            </p>
    </div>

    <table class="table mb-0" style="line-height:.7em;">
        {% for sponsor in sponsors %}
        <tr id="server">
            <td class="text-center rank-col">
                <i class="fas fa-crown" style="color:gold"></i>
            </td>
            <td class="py-4">
                <a href="{{ sponsor.website }}" target="_blank" class="banner-img">
                    <img
                        src="{{ url('public/img/banner-loading.png') }}"
                        data-src="{{ banner(sponsor.banner_url) }}"
                        id="banner"
                        alt="{{ sponsor.banner_url }}"
                        class="img-fluid rounded lazy">
                </a>
            </td>
            <td class="text-right">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="pr-1">
                        <a href="{{ sponsor.discord_link }}" target="_blank"
                            class="btn btn-lg btn-link text-primary {{ sponsor.discord_link ? '' : 'disabled' }}"
                            rel="nofollow">
                            {{ icon('discord', 24, 24) }}
                        </a>
                    </div>
                    <div>
                        <a href="{{ sponsor.website }}"
                            class="btn btn-primary btn-lg" target="_blank" rel="nofollow">
                            <span class="d-none d-lg-inline-block">Play Now</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}


        {% set remaining = (3 - sponsors|length) - 1 %}

        {% for i in 0..remaining %}
        <tr id="server" class="{{ class }}">

        </tr>
        {% endfor %}
    </table>
</div>
