<div class="card border-0 shadow-sm overflow-hidden mb-3">
    <div class="card-header bg-primary text-white py-3">
        <h5 class="mb-0 text-white">Sponsored Servers</h5>
        <p class="text-white-50 mb-0 small">
            The best of the best. Even though paid, each server is vetted to
            assure good quality beforehand.</p>
    </div>

    <style>
         .bi::before {
             display: inline-block;
             content: "";
             background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
             background-repeat: no-repeat;
             background-size: 1rem 1rem;
           }
     </style>

    <table class="table mb-0" style="line-height:.7em;">
        {% for sponsor in sponsors %}
        <tr id="server">
            <td class="text-center rank-col">
                {{ icon('award-fill', 18, 18) }}
            </td>
            <td class="py-4">

            <a href="{{ url('details/'~server_url) }}">
                {% if server.title|length > 40 %}
                {{ substr(server.title, 0, 40)~'...' }}
                {% else %}
                {{ server.title }}
                {% endif %}
            </a>

                <a href="{{ sponsor.website }}" target="_blank" class="banner-img">
                    <img
                        src="{{ url('public/img/banner-loading.png') }}"
                        data-src="{{ banner(sponsor.banner_url) }}"
                        id="banner"
                        alt="{{ sponsor.banner_url }}"
                        class="img-fluid rounded lazy">
                </a>
            </td>
            <td class="text-right">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="pr-1">
                        <a href="{{ sponsor.discord_link }}" target="_blank"
                            class="btn btn-lg btn-link text-primary {{ sponsor.discord_link ? '' : 'disabled' }}"
                            rel="nofollow">
                            {{ icon('discord', 24, 24) }}
                        </a>
                    </div>
                    <div>
                        <a href="{{ sponsor.website }}"
                            class="btn btn-primary btn-lg" target="_blank" rel="nofollow">
                            <span class="d-none d-lg-inline-block">Play Now</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}


        {% set remaining = (3 - sponsors|length) - 1 %}

        {% for i in 0..remaining %}
        <tr id="server" class="{{ class }}">
            <td class="text-center rank-col">
                {{ icon('award-fill', 18, 18) }}
            </td>
            <td class="py-4">
                <a href="#" class="banner-img">
                    <img
                        src="{{ url('public/img/banner-loading.png') }}"
                        id="banner"
                        alt="{{ url('banner-loading.png') }}"
                        class="img-fluid rounded">
                </a>
            </td>
            <td class="text-right">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="pr-1">
                        <a href="#" class="btn btn-lg btn-link text-primary" rel="nofollow">
                            {{ icon('discord', 24, 24) }}
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-primary btn-lg" rel="nofollow">
                            <span class="d-none d-lg-inline-block">Play Now</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
