<div class="card border-0 shadow-sm overflow-hidden mb-3">
    <div class="card-header bg-gradient-primary text-white py-3">
        <h5 class="mb-0 text-white">Sponsored Servers</h5>
        <p class="text-white-50 mb-0">
            The best of the best. Even though paid, each server is vetted to
            assure good quality beforehand.</p>
    </div>

    <table class="table mb-0" style="line-height:.7em;">

        {% for sponsor in sponsors %}
        <tr id="server">
            <td class="text-center rank-col">
                <i class="fad fa-crown fa-lg text-primary"></i>
            </td>
            <td class="py-4">
            {% if server.banner_url %}
            <a href="{{ url('details/'~server_url) }}" class="banner-img">
                <img data-src="{{ banner(server.banner_url) }}"
                src="{{ url('public/img/banner-loading.png') }}"
                    id="banner"
                    alt="{{ server.banner_url }}"
                    style="margin-top:14px;"
                    class="img-fluid rounded lazy">
            </a>
            {% else %}
            <a href="{{ url('details/'~server_url) }}" class="banner-img">
                <img src="{{ url('public/img/banner-'~theme~'.png') }}"
                    id="banner"
                    alt="{{ url('public/img/banner-'~theme~'.png') }}"
                    style="margin-top:14px;"
                    class="img-fluid rounded lazy">
            </a>
            {% endif %}
            </td>
            <td class="text-right">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="pr-1">
                        <a href="{{ sponsor.discord_link }}"
                            class="btn btn-lg btn-link {{ sponsor.discord_link ? '' : 'disabled' }}"
                            rel="nofollow">
                            <i class="fab fa-discord fa-2x"></i>
                        </a>
                    </div>
                    <div class="">
                        <a href="#"
                            class="btn btn-primary btn-lg" rel="nofollow">
                            <i class="fas fa-gamepad-alt rotate-45 mr-lg-3 mr-0"></i>
                            <span class="d-none d-lg-inline-block">Play Now</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}


        {% set remaining = (3 - sponsors|length) - 1 %}

        {% for i in 0..remaining %}
        <tr id="server" class="{{ class }}">
            <td class="text-center rank-col">
                <i class="fad fa-crown fa-lg text-primary"></i>
            </td>
            <td class="py-4">
                <a href="#" class="banner-img">
                    <img
                        src="{{ url('public/img/banner-loading.png') }}"
                        id="banner"
                        alt="{{ url('banner-loading.png') }}"
                        class="img-fluid rounded">
                </a>
            </td>
            <td class="text-right">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="pr-1">
                        <a href="#" class="btn btn-lg btn-link" rel="nofollow">
                            <i class="fab fa-discord fa-2x"></i>
                        </a>
                    </div>
                    <div class="">
                        <a href="#" class="btn btn-primary btn-lg" rel="nofollow">
                            <i class="fas fa-gamepad-alt rotate-45 mr-lg-3 mr-0"></i>
                            <span class="d-none d-lg-inline-block">Play Now</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
