{%  extends 'layout.twig' %}

{% block content %}

<div class="container" style="margin-top:-30px;">
    <div class="row">
        <div class="col-sm-12">

            <div class="card border-0 shadow-sm mb-3">
                <div class="card-header bg-primary">
                    <h5 class="mb-0 text-white">Edit Server: {{ server.title }}</h5>
                    <p class="mb-0 text-white-50">Use the form below to create a listing for your server on our toplist.</p>
                </div>
                <div class="card-body">
                    {% if errors is defined %}
                        <div class="alert alert-danger">
                            <p class="mb-2">Errors were encountered when posting you server:</p>
                            <ul class="mb-0 pl-3">
                                {% for key, value in errors %}
                                <li>&bull; {{ value }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if success is defined %}
                    <div class="alert bg-success">
                        {{ success}}
                    </div>
                    {% endif %}
                    <form method="post" action="{{ url('servers/edit/'~seo_link) }}" id="postform">
                        <div class="form-row form-group">
                            <div class="col-lg-2">
                                <label>Revision</label>
                                {% set active = false %}
                                <select name="revision" class="form-control {{ errors['revision'] is defined ? 'border-danger' : '' }}">
                                {% for revision in revisions %}
                                    {% if revision.revision == server.revision %}
                                        <option selected value="{{ revision.revision }}">{{ revision.revision }}</option>
                                    {% else %}
                                        <option value="{{ revision.revision }}">{{ revision.revision }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <label>Server Name</label>
                                <input type="text"
                                    value="{{ server.title }}"
                                    class="form-control {{ errors['title'] is defined ? 'border-danger' : '' }}"
                                    name="title">
                            </div>
                        </div>

                        <div class="form-row form-group mb-0">
                            <div class="col">
                                <label>Server Port</label>
                                <input type="number"
                                class="form-control {{ errors['server_port'] is defined ? 'border-danger' : '' }}"
                                    name="server_port"
                                    min="0" max="65535"
                                    value="{{ server.server_port }}">
                            </div>
                            <div class="col">
                                <label>Server IP</label>
                                <input type="text"
                                    value="{{ server.server_ip }}"
                                    class="form-control {{ errors['server_ip'] is defined ? 'border-danger' : '' }}"
                                    name="server_ip">
                            </div>
                        </div>

                        <p class="text-muted small">Both Port and IP will not be visible. Used purely for server status.</p>

                        <hr>

                        <div class="form-group">
                            <label>Website URL (Optional)</label>
                            <input type="text"
                                value="{{ server.website }}"
                                class="form-control {{ errors['website'] is defined ? 'border-danger' : '' }}"
                                name="website"
                                maxlength="255">
                            <span class="text-muted small">
                                Leaving this blank will hide your entry from the toplist, but can still be viewed if you have the direct link.
                            </span>
                        </div>

                        <div class="form-group">
                            <label>Callback URL (Optional)</label>
                            <input type="text"
                                value="{{ server.callback_url }}"
                                class="form-control {{ errors['callback_url'] is defined ? 'border-danger' : '' }}"
                                name="callback_url"
                                maxlength="255">
                            <span class="text-muted small">
                                For more on this, see our <a href="{{ url('docs') }}">documentation</a>
                            </span>
                        </div>

                        <div class="form-group">
                            <label>Discord Link (Optional)</label>
                            <input type="text"
                                value="{{ server.discord_link }}"
                                class="form-control {{ errors['discord_link'] is defined ? 'border-danger' : '' }}"
                                name="discord_link"
                                maxlength="255">
                            <span class="text-muted small">
                                A quick join link to your games discord server.
                            </span>
                        </div>

                        <hr>

                        <div class="form-row form-group">
                            <div class="col">
                                <label>Meta Tags</label>
                                <input type="text"
                                    value="{{ server_tags }}"
                                    class="form-control {{ errors['meta_tags'] is defined ? 'border-danger' : '' }}"
                                    name="meta_tags">
                                <small class="text-muted">
                                    Comma separated. Max 15. <a href="https://www.w3schools.com/tags/tag_meta.asp" target="_blank">More Info</a>
                                </small>
                            </div>
                            <div class="col">
                                <label>Meta Description</label>
                                <input type="text"
                                    value="{{ server.meta_info }}"
                                    class="form-control {{ errors['meta_info'] is defined ? 'border-danger' : '' }}"
                                    name="meta_info">
                                <small class="text-muted">
                                    A short description of your server. <a href="https://yoast.com/meta-descriptions/" target="_blank">More Info</a>
                                </small>
                            </div>
                        </div>

                        <hr>

                        {% set style = "" %}

                        {% if server.banner_url %}
                            {% set style = "background-image: url("~constant("web_root")~"public/img/banners/"~server.banner_url~")" %}
                        {% endif %}

                        <div class="form-group mb-0">
                            <div class="banner-holder rounded border-0 mb-2 text-dark"
                                style="{{ style }}"
                                id="bannerimg">
                                Click to Upload Banner
                            </div>
                            <p class="text-muted small">Banner must be 468x60, and no larger than 5mb.</p>
                        </div>

                        <input type="hidden" name="banner_url" id="banner_url" value="{{ server.banner_url }}">

                        <hr>

                        <div id="toolbar" class="d-inline-block">
                            <select class="ql-size">
                                <option value="small"></option>
                                <option selected></option>
                                <option value="large"></option>
                                <option value="huge"></option>
                              </select>
                            <span class="ql-formats">
                                <button class="ql-bold"
                                    data-toggle="tooltip" data-title="Bold"></button>
                                <button class="ql-italic"
                                    data-toggle="tooltip" data-title="Italic"></button>
                                <button class="ql-underline"
                                    data-toggle="tooltip" data-title="Underline"></button>
                                <button class="ql-strike"
                                    data-toggle="tooltip" data-title="Strikethrough"></button>
                            </span>

                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"
                                    data-toggle="tooltip" data-title="Ordered List"></button>
                                <button class="ql-list" value="bullet"
                                    data-toggle="tooltip" data-title="Bullet List"></button>
                            </span>

                            <span class="ql-formats">
                                <button class="ql-link"
                                    data-toggle="tooltip" data-title="Link"></button>
                                <button class="ql-image"
                                    data-toggle="tooltip" data-title="Image"></button>
                                    <button class="ql-video"
                                    data-toggle="tooltip" data-title="Video"></button>
                            </span>

                            <span class="ql-formats">
                                <button class="ql-clean"  data-toggle="tooltip" data-title="Clear Formatting"></button>
                            </span>
                        </div>

                        <div class="form-group">
                            <div id="editor"
                            class="mb-3 {{ errors['info'] is defined ? 'border-danger' : '' }}">
                            {{ server.description|raw }}
                            </div>
                            <textarea name='info' id='editor-form' style='display:none'></textarea>
                        </div>

                        <div class="form-group mb-0">
                            <button type="submit" class="btn btn-default shadow-none" id="submit">
                               Save Changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            {{ content|raw }}
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    var apiUrl = 'https://api.imgur.com/3/image';
    var apiKey = '{{ constant("imgur_key") }}';
    var quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: '#toolbar'
        },
        placeholder: 'Write a server description...'
    });
    let alert = $('.alert-box');
    quill.getModule("toolbar").addHandler("image", function (a) {
        var input = document.createElement('input');

        input.setAttribute('type', 'file');
        input.click();
        input.onchange = (s) => {
            var file = input.files[0];
            if (/^image\//.test(file.type)) {
                var settings = {
                    async: true,
                    crossDomain: true,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    url: apiUrl,
                    headers: {
                        Authorization: 'Client-ID ' + apiKey,
                        Accept: 'application/json'
                    },
                    mimeType: 'multipart/form-data'
                };
                var formData = new FormData();
                formData.append("image", file);
                settings.data = formData;
                quill.enable(false);   // Disables user input
                var range = quill.getSelection();
                if (range) {
                    $.ajax(settings).done(function(response) {
                        var json = JSON.parse(response);
                        var index = range.index;
                       /* var image = Quill.import('formats/image');
                        image.className = 'lazy';
                        Quill.register(image, true);*/
                        quill.insertEmbed(index, 'image', json.data.link);
                        quill.enable();
                    });
                } else {
                    alert("Please select a spot in your post where you wish the image to be placed.")
                }
            } else {
                console.warn('You could only upload images.');
            }
        }
    });
    $("#postform").on("submit", function (event) {
        let editor = $(this).find(".ql-editor");
        editor.find("img").each(function() {
            let img = $(this);
            var imgsrc = img.attr('src');
            if (!img.hasClass("img-fluid"))
                img.addClass("img-fluid");
            if (!img.hasClass("lazy"))
                img.addClass("lazy");
        });
        var body = $(this).find(".ql-editor").html();
        $(this).find("#editor-form").html(body);
        return true;
    });
    $('#bannerimg').click(function(event) {
        event.preventDefault();
        let button = $(this);
        let progress = $('#progress');
        var input = document.createElement('input');

        input.setAttribute('type', 'file');
        input.click();
        input.onchange = (s) => {
            var file = input.files[0];
            var formData = new FormData();
            formData.append("image", file);

            $.ajax({
                async: true,
                crossDomain: true,
                processData: false,
                contentType: false,
                type: 'POST',
                data: formData,
                url: "{{ url('servers/upload') }}",
                mimeType: 'multipart/form-data',
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', function (e) {
                            if (e.lengthComputable) {
                                let percent = Math.ceil((e.loaded * 100) / e.total);

                                if (percent === 100) {
                                    button.html("Processing...")
                                } else {
                                    button.html(percent+"%");
                                }
                            }
                        }, false);
                    }
                    return myXhr;
                },
                success: function (data) {
                    console.log(data);

                    progress.css({"width": "0%"});
                    button.html("&nbsp;");
                    try {
                        var json = JSON.parse(data);
                        if (json.success) {
                            $('#banner_url').val(json.message);
                            button.css({'background-image' :
                                'url("{{ constant("web_root") }}public/img/banners/'+json.message+'")'});
                        }

                    } catch (err) {
                        console.log(err);
                    }
                },
            });
            //}
        }
    });
});
</script>
{%  endblock %}
