{%  extends 'layout.twig' %}

 {% block content %}

 <div class="container" style="margin-top:-30px;">

     <div class="row mb-3">
         <div class="col-sm-12">
             <div class="card border-0 shadow-sm">
                 <div class="card-body">
                     <div class="d-flex align-items-center">
                         <div class="text-default px-1">
                            <i class="fi-xwsux4-youtube" style="color: red;"></i>
                         </div>
                         <div class="flex-fill w-100">
                             <h4 class="mb-0">Submit Video</h4>
                             <p class="mb-0 small text-muted">
                                 Submit a YouTube video using the form below
                             </p>
                         </div>
                         <div class="flex-fill text-right" style="min-width:250px;">
                             <a href="{{ url('videos') }}" class="btn btn-default">Back to Videos</a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <div class="row">
         <div class="col-sm-12 col-lg-12">
             <div class="card border-0 shadow-sm overflow-hidden">
                 {% if errors is defined %}
                     <div class="alert alert-danger rounded-0">
                         <p class="mb-2">Errors were encountered when submitting your video:</p>
                         <ul class="mb-0 pl-3">
                             {% for key, value in errors %}
                             <li>&bull; {{ value }}</li>
                             {% endfor %}
                         </ul>
                     </div>
                 {% endif %}

                 <div class="card-body">
                     <form method="post" action="{{ url('videos/add') }}" id="postform">

                        <div class="form-row form-group">
                            <div class="col-sm-12 col-lg-7">
                                <label>Title*</label>
                                <input type="text" class="form-control {{ errors['title'] is defined ? 'border-danger' : '' }}" name="title">

                            </div>
                            <div class="col-sm-12 col-lg-5">
                                <label>Channel Name*</label>
                                <input type="text" class="form-control {{ errors['category'] is defined ? 'border-danger' : '' }}" name="category">

                            </div>
                        </div>

                        <div class="col">
                            <label>Meta Description (Not required)</label>
                            <input type="text" class="form-control {{ errors['meta_description'] is defined ? 'border-danger' : '' }}" name="meta_description">
                            <small class="text-muted">
                                A short description of your video <a href="https://yoast.com/meta-descriptions/" target="_blank">More Info</a>
                            </small>
                        </div>

                        <hr>

                        <div class="form-group">
                            <div id="editor" class="mb-3 {{ errors['info'] is defined ? 'border-danger' : '' }}"></div>
                            <textarea name='info' id='editor-form' style='display:none'></textarea>
                        </div>

                        <div class="form-row form-group">
                            <div class="col">
                                <label>YouTube Embed Code*</label>
                                <input type="text" class="form-control {{ errors['info'] is defined ? 'border-danger' : '' }}" name="info">
                                <small class="text-muted">
                                    The embed code for your video (NOT the URL) - Found when you click Share on your video. <a href="https://developers.google.com/youtube/player_parameters" target="_blank">More Info</a>
                                </small>
                            </div>
                        </div>

                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                        <div class="text-right form-group">
                            <button type="submit" class="btn btn-danger shadow-none" id="submit">
                                Submit Video
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {{ content|raw }}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        var apiUrl = 'https://api.imgur.com/3/image';
        var apiKey = '{{ constant("imgur_key") }}';
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                toolbar: '#toolbar'
            },
            placeholder: 'Write your blog here...'
        });
        let alert = $('.alert-box');
        quill.getModule("toolbar").addHandler("image", function (a) {
            var input = document.createElement('input');
            input.setAttribute('type', 'file');
            input.click();
            input.onchange = (s) => {
                var file = input.files[0];
                if (/^image\//.test(file.type)) {
                    var settings = {
                        async: true,
                        crossDomain: true,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        url: apiUrl,
                        headers: {
                            Authorization: 'Client-ID ' + apiKey,
                            Accept: 'application/json'
                        },
                        mimeType: 'multipart/form-data'
                    };
                    var formData = new FormData();
                    formData.append("image", file);
                    settings.data = formData;
                    quill.enable(false);
                    var range = quill.getSelection();
                    if (range) {
                        $.ajax(settings).done(function(response) {
                            var json = JSON.parse(response);
                            var index = range.index;
                            quill.insertEmbed(index, 'image', json.data.link);
                            quill.enable();
                        });
                    } else {
                        alert("Please select a spot in your post where you wish the image to be placed.")
                    }
                } else {
                    console.warn('You can only upload images.');
                }
            }
        });

        $("#postform").on("submit", function (event) {
            var body = $(this).find(".ql-editor").html();
            $(this).find("#editor-form").html(body);
            return true;
        });
    });
    </script>


{%  endblock %}