{% extends 'admin_layout.twig' %}
 {% block content %}
 {% include 'admin/sidebar.twig' %}

 <div class="main-content" id="panel">
     {% include "admin/header.twig" %}

     <div class="header bg-default pb-8 pt-5 pt-md-8">
         <div class="container-fluid">
             <div class="header-body">

             </div>
         </div>
     </div>

     <div class="container-fluid mt--7">
         <div class="row">
             <div class="col-xl-12">
                <div class="card border-0 shadow-sm mb-3 overflow-hidden">
                     <div class="card-header bg-transparent">
                         <div class="row align-items-center">
                             <div class="col">
                                 <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                                 <h2 class="mb-0">Payment History</h2>
                             </div>
                             <div class="col">
                                 <form method="post" action="{{ url('admin/payments') }}"
                                     class="form-inline float-right">
                                     <div class="form-group my-0">
                                         <input class="form-control form-control-sm border-0"
                                             name="search"
                                             placeholder="Search username..."
                                             value="{{ search is defined ? search : "" }}">
                                     </div>
                                     <div class="form-group my-0">
                                         <button class="btn btn-link btn-sm text-white" type="submit">
                                             <i class="fal fa-search fa-fw"></i>
                                         </button>
                                     </div>
                                     <input type="hidden" name="_token" value="{{ csrf_token }}">
                                 </form>
                             </div>
                         </div>
                     </div>
                     {% if error is defined %}
                   <div class="alert alert-danger rounded-0 mb-0">{{ error|raw }}</div>
                   {% endif %}

                   {% if success is defined %}
                   <div class="alert alert-success rounded-0 mb-0">{{ success }}</div>
                   {% endif %}
                   <table class="table mb-0">
                       {% for payment in payments.items() %}
                       <tr>
                           <td>
                               <span  data-toggle="tooltip"
                                       data-placement="right"
                                       data-title="Discord ID: {{ payment.user_id }}">
                                   {{ payment.username }}
                               </span>
                               <br>
                               <small class="text-muted">{{ payment.email }}</small>
                           </td>
                           <td>{{ payment.ip_address }}</td>
                           <td>
                               {{ payment.item_name }}<br>
                               <small class="text-muted">Paid ${{ payment.paid|number_format(2) }}</small>
                           </td>
                           <td>
                               {% if payment.status == "COMPLETED" %}
                               <span class="text-success">{{ payment.status|capitalize }}</span>
                               {% else %}
                               <span class="text-danger">{{ payment.status|capitalize }}</span>
                               {% endif %}<br>
                               {{ payment.date_paid|date("m.d.y H:i T") }}
                           </td>
                       </tr>
                       {% endfor %}
                   </table>
                 </div>
                 {% set totalPages = payments.lastPage() %}
                                 {% set current = payments.currentPage() %}
                                 {% set pageUrl = revision is defined ? url('rev-'~revision.revision~'/') : url('admin/payments/')  %}

                                 <nav aria-label="servernav" class="my-5">
                                     <ul class="pagination justify-content-center">
                                         <li class="page-item {{ payments.onFirstPage() ? 'disabled' : '' }}">
                                             <a class="page-link"
                                                  href="{{ pageUrl~'1' }}" tabindex="-1">
                                                 <i class="fal fa-angle-double-left"></i>
                                                 <span class="sr-only">Previous</span>
                                             </a>
                                         </li>

                                         <li class="page-item {{ payments.onFirstPage() ? 'disabled' : '' }}">
                                             <a class="page-link"
                                                 href="{{ pageUrl ~ (current == 1 ? 1 : current - 1) }}" tabindex="-1">
                                                 <i class="fal fa-angle-left"></i>
                                                 <span class="sr-only">Previous</span>
                                             </a>
                                         </li>

                                         {% if totalPages > 5 %}
                                             {% set start = current < 3 ? 1 : current - 2 %}
                                             {% set end   = start < 4 ? start + 4 : current + 2 %}

                                             {% if end > totalPages %}
                                                 {% set end = totalPages %}
                                             {% endif %}

                                             {% if start + 4 >= totalPages %}
                                                 {% set start = totalPages - 4 %}
                                             {% endif %}
                                         {% else %}
                                             {% set start = 1 %}
                                             {% set end   = payments.lastPage() %}
                                         {% endif %}

                                         {% for p in start..end %}
                                         <li class="page-item {{ current == p ? ' active' : ''}}">
                                             <a class="page-link" href="{{ pageUrl ~ p }}">
                                                 {{ p }}
                                             </a>
                                         </li>
                                         {% endfor %}

                                         <li class="page-item {{ current >= totalPages ? 'disabled' : '' }}">
                                             <a class="page-link"
                                                 href="{{ pageUrl~(current == totalPages ? totalPages : current + 1) }}">
                                                 <i class="fal fa-angle-right"></i>
                                                 <span class="sr-only">Next</span>
                                             </a>
                                         </li>

                                         <li class="page-item {{ current >= totalPages ? 'disabled' : '' }}">
                                             <a class="page-link"
                                                 href="{{ pageUrl ~ totalPages }}">
                                                 <i class="fal fa-angle-double-right"></i>
                                                 <span class="sr-only">Next</span>
                                             </a>
                                         </li>
                                     </ul>
                                 </nav>
                 {{ content|raw}}

             </div>
         </div>
     </div>
 </div>
 {% endblock %}
