<table class="table table-borderless table-striped">
    {% for commit in commits %}

    <tr>
        <td style="width:50px;" ckass="text-center">
            <img src="{{ commit['author']['avatar_url'] }}" class="rounded-circle" height=46>
        </td>
        <td>
            <h6 class="mb-0">{{ commit['commit']['message'] }}</h6>
            <span class="small text-muted">
                <strong>{{ commit['author']['login'] }}</strong> committed {{ elapsed(commit['commit']['author']['date']|strtotime) }}
            </span>
        </td>
        <td>
            <a href="{{ commit['html_url'] }}" 
                target="_blank" class="btn btn-outline-primary btn-sm">
                {{ substr(commit['sha'], 0, 7) }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>