<div class="row" id="preview-block">
    <div class="col-sm-12 col-lg-12">
        {% for turbo in turbos %}
        <div class="card border-primary shadow mb-2 bg-gradient-primary">

            <div class="d-flex align-items-center pr-3 py-4 overlay shadow-inset-bottom">
               
                <div class="flex-fill text-center px-2">
                    <h6 class="flex-fill gold-text px-2">TURBO BOOSTED</h6>
                     <i class="fas fa-bolt pulse-turbo fa-2x" style="color:gold;"></i>
                </div>

                <div class="flex-fill">
                    <div class="d-flex align-items-center justify-content-end">

                        {{ turbo.title }}

                            <a href="{{ turbo.website }}" target="_blank" class="banner-img">
                                <img
                                    src="{{ url('public/img/banner-loading.png') }}"
                                    alt="RuneAd Banner" width="468" height="60"
                                    data-src="{{ banner(turbo.banner_url) }}"
                                    id="banner"
                                    alt="{{ turbo.banner_url }}"
                                    class="img-fluid rounded lazy">
                            </a>


                </div>
            </div>
                <div class="flex-fill">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="d-flex align-items-center justify-content-end">
                            <div class="pr-1">
                                <a href="{{ turbo.discord_link }}" 
                                data-toggle="tooltip"
                                data-title="Discord"
                                target="_blank"
                                    class="btn btn-lg btn-link text-primary {{ turbo.discord_link ? '' : 'disabled' }}">
                                    {{ icon('discord', 24, 24) }}
                                </a>
                            </div>
                            <div>
                                <a href="{{ turbo.website }}"
                                data-toggle="tooltip"
                                data-title="Play Server"
                                    class="btn btn-primary btn-lg" target="_blank" rel="Turbo Boosted Server">
                                    <span class="d-inline">Play Now</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% set remaining = (1 - turbos|length) - 1 %}
    {% for i in 0..remaining %}
    <tr id="server" class="{{ class }}"></tr>
    {% endfor %}
</div>



