{%  extends 'layout.twig' %}

{% block content %}

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-sm-12">
            <h3 class="display-3 mt-3 mb-0">Turbo Boost</h3>
            <p>Get a turbo boost for your server which will increase visibility! Package duration <br>will
                stack if you decide to upgrade later! Turbo Boosts show on multiply pages around RuneAd, giving your server
                the best possible outcome for visibility!
            </p>
        </div>
    </div>
</div>

<section class="pricing-6 py-6" id="pricing-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8">
                <div class="tab-content tab-space">
                    <div class="tab-pane active" id="commercial">
                        <div class="row">
                            {% for package in turbo %}
                            {% set features = package['features']|json_decode %}

                            <div class="col-md-6">
                                <div class="card card-pricing text-center mb-4 shadow">
                                    <div class="card-header bg-gradient-primary">
                                        <h6 class="gold-text text-uppercase ls-1 py-3 mb-0">{{ package['title'] }}</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="display-2">${{ package['price']|number_format(2) }}</div>
                                        <span>{{ package['duration']/60/60/24 }} Days</span>
                                        <ul class="list-unstyled my-4">
                                            {% for feature in features %}
                                            <li class="align-items-center">
                                                {% if feature is null %}
                                                <i class="fal fa-times text-danger"></i>
                                                {% else %}
                                                {{ feature|raw }}
                                                {% endif %}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="#"
                                            id="package-select"
                                            data-package="{{ package['id'] }}"
                                            class="btn btn-default {{ user is defined ? '' : 'disabled' }}">Select</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="text-center">
              <div class="container">
                <table class="table mt-0 mb-0 tab " style="line-height: 0.0em">
                  <p>*Depends on the uniqueness of server & content provided by the Server</p>
                </table>
              </div>
          </div>


{% if user is defined and user is not null %}
<section id="servers" class="pricing-5 py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <h3 class="display-3 mt-3 mb-0">Choose a Server</h3>
                <p>Select a server in which you want Turbo Boosted.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                {% for server in servers %}
                {% set class = server.premium_expires > time() ? 'bg-primary' : '' %}

                <div id="server" class="card shadow-sm mb-0 mb-3 ">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-fill" style="width:300px;">
                                <p class="mb-0">{{ server.title }}</p>
                                <p class="small">Revision: {{ server.revision }}</p>
                            </div>
                            <div class="flex-fill">
                                {% if server.banner_url %}
                                <a href="{{ url('details/'~server_url) }}" class="banner-img">
                                    <img data-src="{{ banner(server.banner_url) }}"
                                        id="banner"
                                        class="img-fluid rounded lazy">
                                </a>
                                {% else %}
                                <a href="{{ url('details/'~server_url) }}" class="banner-img">
                                    <img data-src="{{ url('public/img/banner-'~theme~'.png') }}"
                                        id="banner"
                                        class="img-fluid rounded lazy">
                                </a>
                                {% endif %}
                            </div>
                            <div class="flex-fill text-right px-3">
                                <p class="mb-0">{{ server.votes }}</p>
                                <p class="small mb-0">Votes</p>
                            </div>
                            <div class="flex-fill text-right">
                                <a href="#" id="server-select" class="btn btn-primary" data-server="{{ server.id }}">
                                    Select
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="pricing-5 text-center" id="checkout">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 offset-lg-3 col-lg-6">
                <div class="d-flex align-items-center text-center" style="height:50px;"
                    <div class="flex-fill w-100">
                        <div id="pp-notice" class="w-100">
                            <span class="small text-muted">
                                Select a package and server above to continue.
                            </span>
                        </div>
                    </div>
                </div>

                <div id="paypal-btn" style="height:60px; width:400px;" class="mx-auto mb-5">
                    <div class="rounded-pill"
                        style="height:45px;background-color: rgba(0,0,0,0.1)">
                    </div>
                </div>
            </div>
        </div>
</section>

<section id="preview" class="pricing-5 py-5">
    <div class="container">

        <div class="row mb-5 text-center">
            <div class="col-sm-12">
                <h3 class="display-3 mt-3 mb-0">Turbo Boost Preview</h3>
                <p>See how your Turbo Boost will look thoughout RuneAd</p>
            </div>
        </div>

        <div class="row" id="preview-block">
            <div class="col-sm-12 col-lg-12">
                <div class="card border-primary shadow mb-5 bg-gradient-primary">

                    <div class="d-flex align-items-center pr-3 py-4 overlay shadow-inset-bottom">
                        <div class="flex-fill text-center px-3">
                            <i class="fas fa-bolt fa-lg" style="color:gold;"></i>
                        </div>
                        <div class="flex-fill">
                            <img
                                src="{{ url('public/img/banner-loading.png') }}"
                                alt="default-banner.png"
                                class="img-fluid rounded">
                        </div>
                        <div class="flex-fill">
                            <div class="d-flex align-items-center justify-content-end">
                                <div class="pr-1">
                                    <a href="" class="btn btn-lg btn-link text-primary disabled">
                                        <i class="fab fa-discord fa-2x"></i>
                                    </a>
                                </div>
                                <div class="">
                                    <a href="#" class="btn btn-primary btn-lg disabled">
                                        <i class="fas fa-gamepad-alt rotate-45 mr-lg-3 mr-0"></i>
                                        Play Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="preModal" tabindex="-1" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body py-5">
                <div id="content">

                </div>
            </div>
        </div>
    </div>
</div>

{{ content|raw }}

<script src="https://www.paypal.com/sdk/js?client-id={{ constant('paypal_production') }}"></script>

<script>
document.addEventListener('DOMContentLoaded', function(event) {
    let modal = $('#preModal');
   // modal.modal('show');
    let package;
    let server;
    let paypalBtn = $('#paypal-btn');
    let statusBlock = $('#pp-notice');
    $('[id="package-select"]').on("click", function(event) {
        event.preventDefault();
        package = $(this).data("package");
        $(document).find("[id='package-select']").closest(".card").each(function(index, element) {
            $(this).removeClass("border-primary");
        })
        $(this).closest(".card").addClass("border-primary");
        scrollTo($('#servers'));
    });
    $('[id="server-select"]').on("click", function(event) {
        event.preventDefault();
        server = $(this).data("server");
        $(document).find("[id='server-select']").each(function(index, element) {
            $(this).closest(".card").removeClass("border-primary");
        })
        if ((typeof package !== "undefined") && (typeof server != "undefined")) {
            $(this).closest(".card").addClass("border-primary");

            //$('#paypal-btn').removeClass("text-danger").html("<i class='fad fa-spinner fa-pulse fa-3x mb-3'></i>");
            $('#checkout').removeClass("d-none");
            //scrollTo($("[id='checkout']"));
            loadButton(package, server);
        }
    });
    function scrollTo(element) {
        $('html, body').stop().animate({
            'scrollTop': element.offset().top
        }, 800, 'swing');
    }
    function loadButton(package, server) {
        statusBlock.removeClass("text-danger").html("<i class='fad fa-spinner fa-pulse'></i>");
        $.ajaxq('PaymentQueue', {
            url: '{{ url("turbo/button") }}',
            data: {
                package: package,
                server: server
            },
            type: 'POST',
            success: function (json) {

                if (json.success) {
                    statusBlock.html("");
                    paypalBtn.html(json.message);
                } else {
                    statusBlock.addClass("text-danger").html(json.message);
                }
            },
            error: function(data) {
                console.log(data.responseText);
            }
        });
    }
});
</script>
{% endif %}
{% endblock %}
