<footer class="text-quicksand footer bg-dark-footer pt-5 pb-0 mt-3">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3 class="text-primary text-justify"> PlayZanaris</h3>
            <h5 class="text-white"> Coming Soon...</h5>

          </div>

          <div class="col-xs-6 col-md-3">
            <h4 class="text-white">Quick Links <i class="bi bi-link-45deg"></i></h4> 
            <ul class="footer-links">
            <li>Coming Soon...</li>
            <!---- <li><a href="{{ url('faq') }}">FAQ</a></li>
              <li><a href="{{ url('blog') }}">Blog</a></li>
              <li><a href="{{ url('videos') }}">Videos</a></li>
              <li><a href="{{ url('terms') }}">Terms Of Service</a></li>
              <li><a href="{{ url('privacy') }}">Privacy Policy</a></li>
              <li><a href="">Service Statuses</a></li>  ---->
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h4 class="text-warning">For Developers <i class="bi bi-code-square"></i></h4>
            <ul class="footer-links">
            <li>Coming Soon...</li>
             <!---- <li><a href="{{ url('tools/itemdb') }}">OSRS Item Database</a></li>
              <li><a href="{{ url('tools/map') }}">OSRS Interactive Map</a></li>
              <li><a href="{{ url('tools/xptable') }}">OSRS Experience Table</a></li> ---->
            </ul>
          </div>
        </div>
        <hr>
      </div>

      <div class="text-small d-flex justify-content-center">
        <a href="https://playzanaris.com/" target="_self"> PlayZanaris&nbsp;</a> has no affiliation with Jagex nor RuneScape.&nbsp; <b> RuneScape </b>&nbsp;is a registered trademarks of Jagex.
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <p class="text-white copyright-text">
                Copyright &copy; 2020-2024 <a href="https://playzanaris.com/">PlayZanaris</a>
          </p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <p class="text-white test-right copyright-text">
              PlayZanaris
          </p>
          </div>
        </div>
      </div>
</footer>