<footer class="footer bg-dark-footer pt-5 pb-0 mt-5">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
                <!--Source Code on RuneAd.com is created by OgKingFox "Jacob Smith" Email from source is Rune.Evo2012@gmail.com -->
                <!-- Created by <a href="https://github.com/ogkingfox" rel="nofollow">KingFox</a> -->
            <h3 class="text-primary"> RuneAd | RSPS Toplist</h3>
            <p class="text-white text-justify">
                RuneAd is the newest, most up-to-date and modern RuneScape Private Server Toplist. 
                Search and effectively find all the newest RSPS using RuneAd! 
                Join us now and effectively boost your player count!</p>
                <p><a href="https://www.facebook.com/RuneAd" rel="dofollow" target="_blank"><i class="fi-cnsuxl-facebook-circle"></i></a></p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h4 class="text-white">Quick Links <i class="fi-xwsuxm-link-solid"></i></h4> 
            <ul class="footer-links">
              <li><a href="{{ url('contact') }}">Contact Us</a></li>
              <li><a href="{{ url('community') }}">Forums</a></li>
              <li><a href="{{ url('blog') }}">Blog</a></li>
              <li><a href="{{ url('terms') }}">Terms Of Service</a></li>
              <li><a href="{{ url('privacy') }}">Privacy Policy</a></li>
              <li><a href="https://runead.com/sitemap.xml" target="_blank">Sitemap</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h4 class="text-warning">For Developers <i class="fi-snsuxm-dev-to"></i></h4>
            <ul class="footer-links">
              <li><a href="{{ url('docs') }}">RuneAd API</a></li>
              <li><a href="{{ url('tools/itemdb') }}">OSRS Item Database</a></li>
              <li><a href="{{ url('tools/map') }}">OSRS Interactive Map</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <p class="text-white copyright-text">
                Copyright &copy; 2020 <a href="https://runead.com/">RuneAd</a>

                 <!-- /. Created by <a href="https://github.com/ogkingfox" rel="nofollow">KingFox</a>  --> 
                | Created by <a href="https://github.com/ogkingfox" rel="nofollow">KingFox</a> 

            </p>
          </div>


          <div class="col-md-6 col-sm-6 col-xs-6">
            <p class="text-white test-right copyright-text">
              RuneAd | The Best RSPS Toplist | Listing The Top RSPS 
          </p>
          </div>


        </div>
      </div>
</footer>