<footer class="footer bg-dark-footer pt-5 pb-0 mt-5">
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <p class="white-text">1<h3>RuneAd</h3></p>
            <p class="text-white text-justify">
                RuneAd is the newest, most up-to-date and modern RuneScape Private Server Toplist. 
                Search and effectively find all the newest RSPS using RuneAd! 
                Join us now and effectively boost your player count!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <p class="text-primary"><h3>Quick Links</h3></p>
            <ul class="footer-links">
              <li><a href="{{ url('contact') }}">Contact Us</a></li>
              <li><a href="#">Forums</a></li>
              <li><a href="{{ url('blog') }}">Blog</a></li>
              <li><a href="{{ url('terms') }}">Terms Of Service</a></li>
              <li><a href="{{ url('privacy') }}">Privacy Policy</a></li>
              <li><a href="https://runead.com/sitemap.xml" target="_blank">Sitemap</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <p class="text-warning"><h3>Developer Links</h3></p>
            <ul class="footer-links">
              <li><a href="{{ url('docs') }}">RuneAd API</a></li>
              <li><a href="{{ url('tools/itemdb') }}">OSRS Item Database</a></li>
              <li><a href="{{ url('tools/map') }}">OSRS Interactive Map</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="text-white copyright-text">
                Copyright &copy; 2020 <a href="https://runead.com/">RuneAd</a>
                | Created by <a href="https://runead.com/tools/map#">KingFox</a>
            </p>
          </div>
        </div>
      </div>
</footer>