<!DOCTYPE html>
<html lang="en-US">
<head>
    {% if page_title is defined %}
    <title>{{ page_title }} | RuneAd RSPS List</title>
    {% else %}
    <title>RSPS Toplist | RuneScape Private Servers | RuneAd RSPS List</title>
    {% endif %}
    <link rel="canonical" href="{{ route }}">
    {% if meta_tags is defined and meta_tags is not empty %}
    <meta name="keywords" content="{{ meta_tags }} - osrs,itemdb,toplist,rsps list,topg,rspslist,best rsps,top rsps,mmo,runescape,rsps,rsps toplist,private,server,runelocus,rune-server,rune-list,runelist,top100,arena,everythingrs,moparscape,rsps-page,best-rsps,runescape private server">
    {% else %}
    <meta name="keywords" content="osrs,itemdb,toplist,rsps list,topg,rspslist,best rsps,top rsps,mmo,runescape,rsps,rsps toplist,private,server,runelocus,rune-server,rune-list,runelist,top100,arena,everythingrs,moparscape,rsps-page,best-rsps,runescape private server, 2021, RSPS 2021, Top RSPS 2021">
    {% endif %}
    {% if meta_info is defined and meta_info is not empty %}
    <meta name="description" content="{{ meta_info }}">
    {% else %}
    <meta name="description" content="RuneAd RSPS Toplist is the modern 2021 Runescape Private Server listing ( RSPS List ) built to-date. Completely free, feature rich, and easy to use!">
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="https://runead.com/public/img/icons/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="https://runead.com/public/img/icons/apple-touch-icon.png">
    <link rel="icon" sizes="32x32" href="https://runead.com/public/img/icons/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="https://runead.com/public/img/icons/favicon-16x16.png">
    <link rel="manifest" href="https://runead.com/public/img/icons/site.webmanifest"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=0.87, shrink-to-fit=no">
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WF6TZBR');</script>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <script defer src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cookie-consent-box@2.4.0/dist/cookie-consent-box.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/cookie-consent-box@2.4.0/dist/cookie-consent-box.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ stylesheet('argon.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('quill.snow.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('default_v1.0.10.css') }}" />
    {% if darkmode is defined and darkmode %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('default_v1.0.10.css') }}" />
    {% endif %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" defer></script>
</head>
<body>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WF6TZBR"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <div class="custom-header">
        {% include 'global/navbar.twig' %}
        {% include 'global/header.twig' %}
    </div>
    {% block content %}
    {% endblock %}

    {% if user is not defined and controller != "login" %}
        {% include 'modals/login.twig' %}
    {% endif %}
    {% include 'global/footer.twig' %}
<script>CookieBoxConfig = { cookiesDomain: 'runead.com', backgroundColor: '#0275d8', linkTarget: '_self', cookieExpireInDays: '365', url: '/privacy' }</script>
</body>
<script defer type="text/javascript" src="//cdn.quilljs.com/1.3.6/quill.js"></script>
<script defer type="text/javascript" src="{{ javascript('chart.min.js') }}"></script>
<script defer type="text/javascript" src="{{ javascript('jquery-3.3.1.min.js') }}"></script>
<script defer type="text/javascript" src="{{ javascript('bootstrap.bundle.min.js') }}"></script>
<script defer type="text/javascript" src="{{ javascript('rsfacts.js') }}"></script>
<script defer type="text/javascript" src="{{ javascript('custom.js') }}"></script>
<script defer type="text/javascript" src="{{ javascript('share.js') }}"></script>
<script defer src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script defer src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163957784-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163957784-1');
</script>
<script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "RuneAd RSPS List",
     "url" : "https://runead.com",
     "sameAs" : [
       "https://twitter.com/RuneAd2",
       "https://www.facebook.com/RuneAd",
       "https://www.instagram.com/runeadcommunity/"
       ]
    }
    </script>
</html>