<!DOCTYPE html>
<html lang="en-US">
<head>
    {% if page_title is defined %}
    <title>{{ page_title }} | RuneAd</title>
    {% else %}
    <title>RuneAd</title>
    {% endif %}

    <link rel="canonical" href="{{ route }}">

    {% if meta_tags is defined and meta_tags is not empty %}
    <meta name="keywords" content="{{ meta_tags }}">
    {% else %}
    <meta name="keywords" content="toplist,topg,rspslist,best rsps,top rsps,mmo,runescape,rsps,rsps toplist,private,server,runelocus,rune-server,rune-list,runelist,top100,arena,everythingrs,moparscape,rsps-page,best-rsps,runescape private server">
    {% endif %}
    {% if meta_info is defined and meta_info is not empty %}
    <meta name="description" content="{{ meta_info }}">
    {% else %}
    <meta name="description" content="The most modern top-list built to-date. Completely free, feature rich, and easy to use!">
    {% endif %}

    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.87, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ stylesheet('argon.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('quill.snow.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('custom.css') }}" />

    {% if darkmode is defined and darkmode %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('bootstrap.dark.css') }}" />
    {% endif %}

    <script type="text/javascript" src="{{ javascript('jquery-3.3.1.min.js') }}"></script>
</head>
<body>
    <div class="bg-dark">
        {% include 'global/navbar.twig' %}
        {% include 'global/header.twig' %}
    </div>

    {% block content %}
    {% endblock %}

    {% if user is not defined and controller != "login" %}
        {% include 'modals/login.twig' %}
    {% endif %}

    {% include 'global/footer.twig'

    <script type="text/javascript" src="{{ javascript('bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ javascript('fontawesome.pro.min.js') }}"></script>
    <script type="text/javascript" src="{{ javascript('serverads.js') }}"></script>
    <script type="text/javascript" src="{{ javascript('voteads.js') }}"></script>
    <script type="text/javascript" src="{{ javascript('cookieconsent.js') }}"></script>
    <script type="text/javascript" src="{{ javascript('cookieconsent.min.js') }}"></script>
    <script type="text/javascript" src="{{ javascript('queue.js') }}"></script>
    <script type="text/javascript" src="{{ javascript('custom.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121807671-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-121807671-2');
    </script>
</body>
</html>
