{%  extends 'layout.twig' %}

{% block content %}
<section style="margin-top:-30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card border-0 shadow-sm">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="flex-fill px-4 pr-5 text-center">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table mr-1"></i>
                                    User Payment History
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                    <table class="table mb-0">
                {% for payment in payments.items() %}
                <tr>
                    <td>
                        <span data-toggle="tooltip"
                              data-placement="right"
                              data-title="Discord ID: {{ payment.user_id }}">
                            {{ payment.username }}
                        </span>
                        <br>
                        <small class="text-muted">{{ payment.email }}</small>
                    </td>
                    <td>{{ payment.ip_address }}</td>
                    <td>
                        {{ payment.item_name }}<br>
                        <small class="text-muted">Paid ${{ payment.paid|number_format(2) }}</small>
                    </td>
                    <td>
                        {% if payment.status == "COMPLETED" %}
                        <span class="text-success">{{ payment.status|capitalize }}</span>
                        {% else %}
                        <span class="text-danger">{{ payment.status|capitalize }}</span>
                        {% endif %}<br>
                        {{ payment.date_paid|date("m.d.y H:i T") }}
                    </td>
                </tr>
                {% endfor %}
            </table>
                                    </div>
                                </div>
                            </div>



                            </div>
                        </div>
                    </div>
                </div>

                {{ content|raw }}
            </div>
        </div>
    </div>
</section>

{%  endblock %}
